on: [push, pull_request, workflow_dispatch]

env:
  # Make Zephyr sources visible to the called reusable workflow
  ZEPHYR_BASE: ${{ github.workspace }}/zephyr

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
